$color-anthracite: #2c2f3c;
$color-green: #699900;
$color-blue: #0099cc;

$font-family-1: "Hind", sans-serif;
$font-family-2: "Fresca", sans-serif;
$font-family-3: "Source Sans Pro", sans-serif;
